//----------  layout
//------------------------------------------------------------------------------

body {
	font-family: $font-default;
	font-size: 14px;
}

.container {
	&.wrap {
		@extend %clearfix;
		margin: 0 auto;
		max-width: 1280px;
		padding: 0 20px;
		width: 100%;
	}
}
