//----------  header
//------------------------------------------------------------------------------
.header {
	.bg-info {
		background-color: $primary !important; // sass-lint:disable-line no-important
	}
	.navbar-brand {
		margin-right: 3rem;
		@include media-breakpoint-down(sm) {
			margin: 0 auto;
		}
	}
	.navbar-toggler {
		@include media-breakpoint-down(sm) {
			position: absolute;
			right: 20px;
			top: 10px;
		}
	}
}