<nav class="nav">
	<ul role="menu"></ul>
</nav><!-- fixed nav menu -->

<header class="header" role="banner">
	<div class="wrap">
		<a href="/" class="logo">
			<img src="images/logo.png" alt="" width="130" height="58" />
		</a>
		<button class="btn menu-toggle" type="button">Menu</button>
		<div class="header-menu">
			<ul role="menubar">
				<li class="hidden" role="menuitem">
					<a href="javascript:;">Home</a>
				</li>
				<li role="menuitem">
					<a href="javascript:;">Highlights</a>
				</li>
				<li role="menuitem">
					<a href="javascript:;">Chairman's statement</a>
				</li>
				<li role="menuitem">
					<a href="javascript:;">Chief executive's review</a>
				</li>
				<li role="menuitem">
					<a href="javascript:;">Strategy</a>
				</li>
				<li role="menuitem">
					<a href="javascript:;">Case studies</a>
				</li>
				<li role="menuitem">
					<a href="javascript:;">Downloads</a>
				</li>
			</ul>
		</div>
	</div>
</header>