//----------  downloads section
//------------------------------------------------------------------------------
.reports {
	.table-position {
		margin-top: 0;
		overflow-y: scroll;
		max-height: 780px;
	}
	.side-items {
		&.side-items-create {
			width: 0;
			input {
				max-width: 400px;
				width: 100%;
			}
			.info {
				&.info-content {
					padding-left: 30px;
					color: $primary;
				}
			}
		}
	}
}
.report {
	display: inline-block;
	background: $grey;
	padding: 10px;
	width: 100%;
	margin-top: 50px;
	input {
		border: 2px solid $primary;
		padding-bottom: 4px;
		display: inline-block;
		width: 200px;
		height: 30px;
		border-radius: 5px;
		margin-bottom: 10px;
		margin-right: 20px;
	}
	span {
		color: $white;
		display: inline-block;
	}
}
