<div class="side-items side-items-create">
	<table class="table table-position">
		<thead class="thead-light">
			<tr>
				<th scope="col">Stavka</th>
				<th scope="col">#</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="info">Ime</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td class="info">Prez</td>
				<td>
					<select class="combobox">
						<option value="volvo">Volvo</option>
						<option value="saab">Saab</option>
						<option value="mercedes">Mercedes</option>
						<option value="audi">Audi</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="info">Godina</td>
				<td><input type="text"></td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-custom">Save</button>
</div>