<div class="side-items side-items-read">
	<table class="table table-position">
		<thead class="thead-light">
			<tr>
				<th scope="col">Stavka</th>
				<th scope="col">#</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="info">Ime</td>
				<td>Otto</td>
			</tr>
			<tr>
				<td class="info">Prezime</td>
				<td>Thornton</td>
			</tr>
			<tr>
				<td class="info">Godina</td>
				<td>the Bird</td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-custom">Save</button>
</div>