//----------  highlights section
//------------------------------------------------------------------------------
.evaluation {
	margin-top: 50px;
	input {
		display: block;
		width: 200px;
		height: 30px;
		border: 2px solid $grey;
		border-radius: 5px;
		margin-bottom: 10px;
	}
}

.ev-input {
	display: inline-block;
	background: $grey;
	padding: 10px;
	width: 100%;
	input,
	button {
		display: inline-block;
	}
	input {
		border: 2px solid $primary;
		padding-bottom: 4px;
	}
}

.tabs {
	// margin-top: 20px;
	ul {
		margin-bottom: 0;
		display: flex;
	}
	li {
		flex-direction: column;
		flex: 1;
		background: $grey-light;
		margin-right: 0;
		&.active {
			background: $primary;
		}
		&:hover {
			a {
				color: $grey;
				opacity: 0.7;
				text-decoration: none;
			}
		}
	}
	a {
		color: $white;
		padding: 10px;
		display: block;
	}
	.tab {
		border: 5px solid $primary;
		display: none;
		margin-bottom: 50px;
		&.show {
			display: block;
		}
	}
}

.tab-content {
	background-color: $grey;
	padding-top: 20px;
	padding-bottom: 16px;
	position: relative;
	.side-items {
		display: inline-block;
		position: relative;
		&.side-items-create {
			width: calc(100% - 340px);
		}
		.table-position {
			margin-top: 0;
			border-radius: 5px;
		}
		button {
			&:hover {
				opacity: 0.6;
			}
		}
	}
	.buttons {
		width: 300px;
		border: 2px solid $white;
		height: auto;
		float: right;
		display: inline-block;
		margin-right: 20px;
		padding: 20px;
		border-radius: 5px;
		.btn {
			display: inline-block;
			width: 100%;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}