.table-position {
	position: relative;
	margin-top: 50px;
	.combobox {
		width: 400px;
		height: 35px;
		margin-top: 7px;
		border: 1px solid $grey;
	}
	.notify {
		background-color: transparent;
		width: 100px;
		&.notify-normal {
			background-color: $green;
		}
		&.notify-warning {
			background-color: $orange;
		}
		&.notify-danger {
			background-color: $red;
		}
	}
}

.side-items {
	max-width: 800px;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	// margin-top: 106px;
	background-color: $grey;
	&.side-items-read {
		&.opened {
			width: 100%;
		}
	}
	&.side-items-create {
		width: 100%;
		&.opened {
			width: 100%;
		}
		.info {
			padding: 12px;
		}
		input {
			width: 400px;
			height: 35px;
			margin-top: 7px;
			border: 1px solid $grey;
		}
		td {
			padding: 0;
		}
	}
	.table-position {
		width: calc(100% - 40px);
		background-color: $white;
		margin: 0 20px;
		margin-top: 56px;
		.info {
			font-weight: 700;
		}
	}
	.btn-custom {
		margin: 20px;
		width: calc(100% - 40px);
		background-color: $primary;
		border: 0;
	}
}

.main-page {
	background: $grey-light;
	height: calc(100vh - 56px);
	position: relative;
	.login-panel {
		background: $grey;
		@include align(absolute, xy);
		width: 100%;
		max-width: 400px;
		height: 300px;
		z-index: 2;
		display: block;
		border-radius: 5px;
		.panel {
			@include align(absolute, xy);
			h3 {
				color: $white;
				font-size: 20px;
			}
			input {
				display: block;
				width: 300px;
				height: 30px;
				border: 2px solid $grey;
				border-radius: 5px;
				margin-bottom: 10px;
				&:last-of-type {
					margin-bottom: 30px;
				}
			}
			.btn-inverse {
				background: $grey-light;
				border: 0;
				&.login {
					background: $primary;
					width: 100%;
					margin-left: 0;
				}
			}
		}
	}
}